/* You can add global styles to this file, and also import other style files */
button{
    background: #221862;
    color: white;
    font-size: 16px;
    line-height: 16px;
    padding: 9px 22px;
    border-radius: 10px;
    border-width: 1px;
    box-shadow: inset 0 0 0 1px #221862;
}

.custom-select-style {
    display: block ;
    /* width: 88%; */
    width: 86%;
    height: calc(1.5em + 0.75rem + 2px);
    /* padding: 0.375rem 0.75rem; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: none;
  }
  
  .custom-select-style::placeholder {
    color: #6c757d;
  }
  
  .custom-select-style:hover {
    border-color: #adb5bd;
  }
  
  .custom-select-style:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .custom-select-style:disabled {
    background-color: #e9ecef;
    opacity: 1;
  }


  @media(max-width:500px){
    th,td,button,p,span{
        font-size: 10px !important;
    }

    h6,h5,label,input,select{
        font-size: 11px !important;
    }
}