section {
    background: linear-gradient(rgba(0, 0, 0, 0.327), rgba(0, 0, 0, 0.567)),
    url('src/assets/img/imresizer-1727343812574.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .shadow-sm {
    margin-top: 40px !important;
  }
  
  /* Styles for the moving vehicle animation */
  .vehicle-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100px;
  }
  
  .moving-vehicle {
    position: absolute;
    width: 100px;
    bottom: 0;
    animation: moveVehicle 10s linear infinite;
  }
  
  @keyframes moveVehicle {
    0% {
      right: -100px;
    }
    100% {
      right: 100%;
    }
  }
  
  @media(max-width:400px) {
    h3, .sx {
      font-size: 18px;
      margin-bottom: 12px !important;
    }
    .btn, label {
      font-size: 14px;
    }
    .shadow-sm {
      margin-top: 50px !important;
    }
  }
  