<div class="container">
    <div class="row mt-2">
      <div class="col">
        <h5 class="mt-4 text-blue" style="font-weight: 600;">
          <b><span class="text-primary">ASSIGN</span></b>
          <b><span class="text-danger">ROLE</span></b>
        </h5>
      </div>
    </div>
  
    <div class="row mt-2">

      <div class="col-md-3">
        <div class="form-group">
          <label for="roleSelect">Select Role</label>
          <select class="form-select form-control" (change)="selectUserRole($event)">
            <option value="">--Select--</option>
            <option *ngFor="let data of all_role" [value]="data | json">{{data.role_name}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="roleSelect">Select User</label>
          <select class="form-select form-control" #u_id (change)="getDataPerUserId(u_id.value)">
            <option value="null">--Select--</option>
            <option *ngFor="let use of all_user" [value]="use.user_id">{{use?.user_name}}</option>
          </select>
        </div>
      </div>

    </div>
  
    <div class="row mt-2">
        
    </div>

    <div>
      <div class="row mt-2">
        <div class="col">
            <div class="table-responsive table-responsive-stack">
              <table class="table">
                <thead>
                  <tr *ngIf="!message">
                    <th>Sl. No.</th>
                    <th>Employee Name</th>
                    <th>Role Name</th>
                    <th>Photo</th>
                    <th>Assign</th>
                    <th>Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of getPaginatedData(); let i = index">
                    <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                    <td>{{ user?.user_name }}</td>
                    <td>{{ user?.roles }}</td>
                    <td>
                      <img 
                        [src]="user.photo ? getPhotoUrl(user.photo) : 'assets/img/notfound.jfif'" 
                        alt="User Photo" 
                        style="width: 50px; height: 50px;"
                      >
                    </td>
                    <td>
                      <button class="btn x" data-toggle="modal" data-target="#exampleModal" (click)="editUser(user)">Assign</button>
                    </td>
                    <td>
                      <button class="btn btn-danger" data-toggle="modal" data-target="#printModal" (click)="getUserIdForRemove(user?.user_id)">Remove</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            <div class="pagination-controls d-flex justify-content-center">
              <button class="btn btn-secondary mx-1" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
              <span>Page {{ currentPage }} of {{ getTotalPages() }}</span>
              <button class="btn btn-secondary mx-1" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === getTotalPages()">Next</button>
            </div>
            
            <h6 class="d-flex align-item-center justify-content-center bg-secondary"><span class="text-white">{{ message }}</span></h6>
          </div>
          
          
      </div>
    </div>
  
    <!-- Modal 1 for edit -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Assign <span class="text-danger">Role</span></h5>
            <button type="button" class="close btn btn-secondary" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form [formGroup]="userForm" (ngSubmit)="handleSubmit()">
            <div class="modal-body">
              <div class="row">
          
                <!-- Name Field -->
                <div class="col-12">
                  <label for="user_name">Name</label>
                  <input
                    type="text"
                    id="user_name"
                    class="form-control mt-2"
                    placeholder="Name"
                    formControlName="user_name"
                  />
                  <!-- Error Message for Name Field -->
                  <div *ngIf="userForm.get('user_name')?.touched && userForm.get('user_name')?.hasError('required')" class="text-danger mt-1">
                    Name is required.
                  </div>
                </div>
          
                <!-- Role Field -->
                <div class="col-12">
                  <label for="user_role">Role</label>
                  <select
                    type="text"
                    id="user_role"
                    class="form-control mt-2"
                    formControlName="role_id"
                  >
                    <option *ngFor="let data of all_role" [value]="data.role_id">{{ data.role_name }}</option>
                  </select>
                  <!-- Error Message for Role Field -->
                  <div *ngIf="userForm.get('role_id')?.touched && userForm.get('role_id')?.hasError('required')" class="text-danger mt-1">
                    Role is required.
                  </div>
                </div>
          
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
          
          
        </div>
      </div>
    </div>
  
   <!-- Modal 1 for print -->
    <div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Remove Role</h5>
            <button type="button" class="close btn btn-secondary" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">Close</span>
            </button>
          </div>
          <div class="container m-2 mb-3">
            <div class="table-responsive table-responsive-stack">
            <table class="table">
                <thead>
                  <tr *ngIf="!message">
                    <th>Sl. No.</th>
                    <th>Employee Name</th>
                    <th>Role Name</th>
                    <th>Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of assign_role_data; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{user?.user_name}}</td>
                    <td>{{user?.role_name}}</td>
                    <td>
                      <span class="text-danger" style="cursor: pointer;" (click)="deleteRole(user)"><i class="fa-solid fa-trash"></i></span>
                    </td>
                  </tr>
                </tbody>
              </table>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
