

@media print{
  .demo{
     display: none;
   }
  .vehicle{
     display: none;
   }
   #icon{
    display:none;
   }
   .pagination-controls {
    display: none !important;
  }


   .table-responsive {
    overflow: visible; /* Adjust overflow for print */
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.pagination-controls{
  display: none;
}
 }
